<div id="content" class="container content full list-template">

		<div id="list-title" class="list-title"><div><%= list_title %></div></div>

	<% if(posts.length){ %>

		<% _.each( posts, function( post ){ %>

	  		<% 
				var date = new Date(post.date*1000);
				var month = date.getUTCMonth() + 1;
				month = month < 10 ? '0' + month : month;
				var day = date.getUTCDate();
				day = day < 10 ? '0' + day : day;
				var year = date.getUTCFullYear();
	  		%>

			<div class="content-item">
				<a href="<%= TemplateTags.getPostLink(post.id) %>">
					<% if( post.thumbnail.src && post.thumbnail.src.length ){ %>
						<div class="content-thumbnail"><div style="background:url(<%= post.thumbnail.src %>);background-size:cover;"></div></div>
					<% } %>	
					<div class="content-date"><%= month +'/'+ day +'/'+ year %></div>
					<h2><span><%= post.title %></span></h2>
					<div class="content-excerpt"><%= post.excerpt %></div>
				</a>
			</div>

		<% }); %>

	<% }else{ %>
		<div class='content-message'>No post found</div>
	<% } %>

</div>