* {box-sizing:border-box;}

html,body {
	height:100%;
	margin:0;
}

body {
	background-color:#182C36;
	text-rendering:optimizelegibility;
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing:antialiased;
}

/* App Structure */

.container {
	height:100%;
	position:fixed;
	-webkit-overflow-scrolling:touch;
}

.drawer {
	overflow-y:scroll;
	z-index:10;
	width:85%;
}

.header {
	position:fixed;
	top:0;
	width:100%;
	height:50px;
	z-index:30;
	text-align:center;
}

.content {
	background-color:#fff;
	top:50px; /* à reporter dans le tutoriel + tester sous iOS */
	overflow-y:scroll;
	z-index:20;
	width:100%;
	padding:0px 0px 60px 0px;
}

.full {
	left:0;
}

/* Header */

/* /!\ A reporter dans le tutoriel  */

.message {
	position:absolute;
	/*top:50px;*/
	bottom:-15px;
	left:0;
	width:100%;
	height:15px;
	font-size:10px;
	text-align:left;
	padding:0px 0px 0px 10px;
	opacity:0;
}

.message-on {
	opacity:1;
	-webkit-transition:opacity 0.2s linear;
}

.message-off {
	opacity:0;
	-webkit-transition:opacity 0.2s linear;
}

.burger {
	position:absolute;
	float: left;
	background-repeat:no-repeat;
	background-position:center;
}

/* changer dans le tutoriel */
.refresh-off {
	position:absolute;
	right:0px;
	background-repeat:no-repeat;
	background-position:center;	
}

.refresh-on {
	position:absolute;
	right:0px;
	background-repeat:no-repeat;
	background-position:center;	
	-webkit-animation: refresh-effect 1s infinite;
}

@-webkit-keyframes refresh-effect {
	100%	{-webkit-transform: rotate(360deg);}
}

.header h1 {
	margin:0;
	padding:1px 50px 0px 50px;
	text-align:center;
	line-height:50px;
	overflow:hidden;
	height:50px;
	font-weight:normal;
	-webkit-user-select:none; /* Block selection with a long touch */
	font-size:18px;
}

/* Menu */

.menu {
	list-style: none;
	margin:0;
	padding:0;
	padding:0px 0px 0px 0px;
	width:100%;
}

.menu li {
	padding:0px 3px 0px 0px;
}

.menu li a {
	padding:8px 0px 8px 10px;
	font-size:18px;
	color:#fff;
	line-height:18px;
	white-space:nowrap;
	border-bottom:1px #0F1B21 solid;
	display:block;
	text-decoration:none;
	-webkit-tap-highlight-color:rgba(21,38,46,0.5);
	-webkit-user-select:none;
	-webkit-touch-callout:none;
}

.menu li.menu-active-item a {
	padding:8px 0px 8px 10px;
	font-size:18px;
	color:#233F4D;
	background-color:#fff;
	line-height:18px;
	white-space:nowrap;
	display:block;
	text-decoration:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-user-select:none;
	-webkit-touch-callout:none; /* Work on iOS to block hyperlink menu */
}
