<div class="wrap">
	<div class="topcoat-list">
	  <h3 class="topcoat-list__header"><%= list_title %><% total > 0 ? print(' - ' + total) : print(' - Aucun') %> article<% total > 1 ? print('s') : '' %></h3>
	  <% if(posts.length){ %>
		  <ul class="topcoat-list__container">
		  	<% _.each( posts, function( post ){ %>
		  		<% 
		  			  var date = new Date(post.date*1000);
		  			  var month = date.getUTCMonth() + 1;
			    	  month = month < 10 ? '0' + month : month;
			    	  var day = date.getUTCDate();
			    	  var year = date.getUTCFullYear();
		  		%>
				<li class="topcoat-list__item">
					<a href="<%= TemplateTags.getPostLink(post.id) %>" class="archive-post-link">
						<% if( post.thumbnail.src && post.thumbnail.src.length ){ %>
							<img src="<%= post.thumbnail.src %>" />
						<% } %>
						<span class="title"><%= post.title %></span>
						<span class="date">Le <%= day +'/'+ month +'/'+ year %></span>
						<% if( post.nb_comments > 0 ){ %>
							<span class="comments"><%= post.nb_comments %> commentaire<% post.nb_comments > 1 ? print('s') : '' %></span>
						<% } %>
						<p><%= post.excerpt %></p>
					</a>
					<div style="clear:both"></div>
				</li>
			<% }) %>
		  </ul>
		<% }else{ %>
			<p>Aucun article trouvé!</p>
		<% } %>
	</div>
</div>
