<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">

<title><%= app_title %></title>
<link rel="stylesheet" href="<%= theme %>/css/common.css?bust=<%= new Date().getTime() %>">
<link rel="stylesheet" href="<%= theme %>/css/list.css?bust=<%= new Date().getTime() %>">
<link rel="stylesheet" href="<%= theme %>/css/single.css?bust=<%= new Date().getTime() %>"><link rel="stylesheet" href="<%= theme %>/css/custom-android.css?bust=<%= new Date().getTime() %>">